<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maze Janerator</title>
    <!--- Vue.jsを利用する --->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <style>
    #mazeSize .error {
      color: red;
    }
    #contents .button {
      width:40px;
      height:40px;
    }
    </style>
    <h1>
      自動迷路生成器
    </h1>
    <p>
      自動生成される迷路を解いてみよう！<br>
      迷路の大きさを決めて，生成ボタンを押すとランダムに迷路が生成されます．<br>
      赤がスタート，緑がゴール．<br>
      紫色のキャラクターを動かしてゴールを目指そう！<br>
      キャラクターは矢印のボタンか，キーボードの矢印キーで動きます．
    </p>
    <div id = "mazeSize">
      迷路の大きさは？（10～500）:
      <input type="text" v-model="value" size=3>
      <input id = "jenBt" type="button" value="生成"></button>
      <div class="error" v-if="error.require">作りたい迷路の大きさを入力してください</div>
      <div class="error" v-if="error.tooSmall">小さすぎます</div>
      <div class="error" v-if="error.tooLarge">大きすぎます</div>
    </div>
    <div id="contents"><br>
      <table v-show="able">
	      <tbody>
		      <tr>
		  	    <td></td>
		  	    <td><input class="button" type="button" value="↑" @click="arrowUp"></button></td>
		  	    <td></td>
		      </tr>
		      <tr>
		  	    <td><input class="button" type="button" value="←" @click="arrowLeft"></button></td>
		  	    <td></td>
		  	    <td><input class="button" type="button" value="→" @click="arrowRight"></button></td>
		      </tr>
          <tr>
            <td></td>
            <td><input class="button" type="button" value="↓" @click="arrowDown"></button></td>
            <td></td>
		      </tr>
	      </tbody>
      </table>
      <div v-show="goalFlg">ゴール！！</div>
      <div v-show="scoreFlg">得点：{{message}}/100</div>
      <canvas id="maze_canvas"></canvas><br>
      <input id = "solveBt" v-show="seen" type="button" value="答え"></button>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
